/* Root Variables */
:root {
    --primary-color: #ffffff; /* White background */
    --secondary-color: #3563E9; /* Blue text and highlights */
    --background-color: #f0f0f0; /* Slightly off-white background */
    --text-color: #000000; /* Black text */
    --accent-color: #3563E9; /* Blue for accents */
}

/* General Styling */
html {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding-top: 5rem; /* To ensure content doesn't go under fixed navbar */
}

/* Navbar */
.navbar {
    background-color: var(--primary-color);
    position: fixed; /* Fix the navbar to the top */
    width: 100%;
    z-index: 1000; /* Ensure it stays on top of other content */
    top: 0;
    left: 0;
    border-bottom: 1px solid #ddd; /* Optional: add a border for separation */
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    height: 40px; /* Adjust the height of the brand logo */
}

.navbar-brand h5 {
    margin-left: 15px; /* Space between the logo and text */
    color: var(--secondary-color); /* Ensure the text color is appropriate */
}

.navbar-toggler img {
    width: 24px; /* Adjust the width of the toggler icon */
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav .nav-link {
    color: var(--text-color) !important;
    position: relative;
    padding-bottom: 5px;
    margin-left: 15px; /* Space between items */
    margin-right: 15px; /* Space between items */
    transition: color 0.3s;
}

.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--accent-color);
    transition: width 0.3s;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}

.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-nav .dropdown-menu {
    background-color: var(--primary-color);
    display: none; /* Hide the dropdown menu by default */
}

.navbar-nav .dropdown-item {
    color: var(--text-color);
    transition: background-color 0.3s;
}

.navbar-nav .dropdown-item:hover {
    background-color: var(--background-color);
}

/* Additional Styles */
.navbar-nav .dropdown-toggle::after {
    display: none; /* Hide the default dropdown arrow */
}
